<div class="modal-dialog modal-dialog-centered">

    <form action="#" method="post" id="add-client-file" enctype="multipart/form-data">
        <input type="hidden" name="nepvraag" id="nepvraag">

        <input type="hidden" name="clientId" id="clientId">

        <label for="client_file">file</label>
        <input type="file" name="client_file" id="client_file" class="form-control" >
    </form>
</div>