<div class="modal-dialog modal-dialog-centered">

    <form action="#" method="post" id="add-client-note">
        <input type="hidden" name="nepvraag" id="nepvraag">

        <input type="hidden" name="clientId" id="clientId">

        <label for="client_note">Note</label>
        <textarea name="client_note" id="client_note" class="form-control" ></textarea>
    </form>
</div>