<div class="modal-dialog modal-dialog-centered">

    <form action="#" method="post" id="add-therapist-note">
        <input type="hidden" name="nepvraag" id="nepvraag">

        <input type="hidden" name="therapistId" id="therapistId">

        <label for="therapist_note">Note</label>
        <textarea name="therapist_note" id="therapist_note" class="form-control" ></textarea>
    </form>
</div>