<form
	action="/addavailability"
	method="post"
	id="add-availability-form"
>
	<div class="table-responsive">
		<table class="table caption-top">
			<thead>
				<tr>
					<th scope="col">&nbsp;</th>
					<th scope="col">MON</th>
					<th scope="col">TUE</th>
					<th scope="col">WED</th>
					<th scope="col">THU</th>
					<th scope="col">FRI</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">09:00-10:00</th>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="mon_9"
							id="mon_9"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="tue_9"
							id="tue_9"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="wed_9"
							id="wed_9"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="thu_9"
							id="thu_9"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="fri_9"
							id="fri_9"
						/>
					</td>
				</tr>
				<tr>
					<th scope="row">10:00-11:00</th>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="mon_10"
							id="mon_10"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="tue_10"
							id="tue_10"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="wed_10"
							id="wed_10"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="thu_10"
							id="thu_10"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="fri_10"
							id="fri_10"
						/>
					</td>
				</tr>
				<tr>
					<th scope="row">11:00-12:00</th>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="mon_11"
							id="mon_11"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="tue_11"
							id="tue_11"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="wed_11"
							id="wed_11"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="thu_11"
							id="thu_11"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="fri_11"
							id="fri_11"
						/>
					</td>
				</tr>
				<tr>
					<th scope="row">12:00-13:00</th>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="mon_12"
							id="mon_12"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="tue_12"
							id="tue_12"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="wed_12"
							id="wed_12"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="thu_12"
							id="thu_12"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="fri_12"
							id="fri_12"
						/>
					</td>
				</tr>
				<tr>
					<th scope="row">13:00-14:00</th>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="mon_13"
							id="mon_13"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="tue_13"
							id="tue_13"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="wed_13"
							id="wed_13"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="thu_13"
							id="thu_13"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="fri_13"
							id="fri_13"
						/>
					</td>
				</tr>
				<tr>
					<th scope="row">14:00-15:00</th>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="mon_14"
							id="mon_14"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="tue_14"
							id="tue_14"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="wed_14"
							id="wed_14"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="thu_14"
							id="thu_14"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="fri_14"
							id="fri_14"
						/>
					</td>
				</tr>
				<tr>
					<th scope="row">15:00-16:00</th>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="mon_15"
							id="mon_15"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="tue_15"
							id="tue_15"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="wed_15"
							id="wed_15"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="thu_15"
							id="thu_15"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="fri_15"
							id="fri_15"
						/>
					</td>
				</tr>
				<tr>
					<th scope="row">16:00-17:00</th>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="mon_16"
							id="mon_16"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="tue_16"
							id="tue_16"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="wed_16"
							id="wed_16"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="thu_16"
							id="thu_16"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="fri_16"
							id="fri_16"
						/>
					</td>
				</tr>
				<tr>
					<th scope="row">17:00-18:00</th>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="mon_17"
							id="mon_17"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="tue_17"
							id="tue_17"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="wed_17"
							id="wed_17"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="thu_17"
							id="thu_17"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="fri_17"
							id="fri_17"
						/>
					</td>
				</tr>
				<tr>
					<th scope="row">18:00-19:00</th>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="mon_18"
							id="mon_18"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="tue_18"
							id="tue_18"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="wed_18"
							id="wed_18"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="thu_18"
							id="thu_18"
						/>
					</td>
					<td>
						<input
							class="form-check-input"
							type="checkbox"
							name="fri_18"
							id="fri_18"
						/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<button class="btn">Save</button>
</form>
