<div class="container mt-5">
	<div class="row d-flex justify-content-center">
		<div class="col-md-6">
            <form action="/updatepassword" method="post">

                <div
					class="card px-5 py-5"
					id="form1"
				>
					<h1 class="card-h1">Reset your password</h1>
                    
                    Enter a new password below. It needs at least 8 characters, of which at least one capital and at least one number.
					<div
						class="form-data"
						v-if="!submitted"
					>
						<div class="forms-inputs mb-4">
							<input
								type="hidden"
								name="nepvraag"
								id="nepvraag"/>
							<input
								type="hidden"
								name="userId"
								id="userId"
								value="<%= (locals.userID) ? userID : '' %>"
								required
							/>
						</div>
                     </div>

                     <div
						class="form-data"
						v-if="!submitted"
					>
						<div class="forms-inputs mb-4">
							<span>New Password</span>
							<input
								type="password"
								name="newpassword"
								id="newpassword"
								required
							/>
						</div>
                     </div>

                     <div
						class="form-data"
						v-if="!submitted"
					>
						<div class="forms-inputs mb-4">
							<span>Confirm New Password</span>
							<input
								type="password"
								name="confirmnewpassword"
								id="confirmnewpassword"
								required
							/>
						</div>
                     </div>

                     <div class="mb-3">
                        <button
                            type="submit"
                            class="btn button login-button"
                            disabled
                        >
                            Submit
                        </button>
                    </div> 

                    <div class="mb-3">
                        <ul id="passwordvalidation">
                            <li id="eightChars">8 Characters</li>
                            <li id="uppercase">Uppercase</li>
                            <li id="lowercase">lowercase</li>
                            <li id="number">Number</li>
                            <li id="symbol">Symbol</li>
                            <li id="passwordsmatch">Password Confirmation Matches New Password</li>
                        </ul>
                    </div>
                </div>     
                 
                
            </form>
        </div>
        <div class="mb-3 back-to-login">
            <a href="/login">login</a>
        </div>
    </div>
</div>