<div class="container mt-5">
	<div class="row d-flex justify-content-center">
		<div class="col-md-6">
			<% if(locals.message) { %>
			<p class="error"><%= message.message %></p>
			<% } %>
			
            <div class="card px-5 py-5">
					<h1 class="card-h1">Email With Instructions Sent</h1>

                    <p>An email with instructions on how to reset your password was sent to you.</p>
            </div>
		</div>
        <div class="mb-3 back-to-login">
            <a href="/login">login</a>
        </div>
	</div>
</div>
