<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="robots" content="noindex">
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Document</title>
		<link
			rel="shortcut icon"
			href="./assets/img/favicon.png"
			type="image/x-icon"
		/>
		<link
			rel="stylesheet"
			href="./assets/css/bootstrap-update.css"
		/>
		<link
			rel="stylesheet"
			href="./assets/css/bootstrap-update.css.map"
		/>
		<link
			rel="stylesheet"
			href="./assets/css/style.css"
		/>
	</head>
	<body>
		<div class="container">
			<h1>Hi <%= name %></h1>

			<ul>
				<li>Walter Benitez</li>
				<li>Joël Drommel</li>
				<li>Boy Waterman</li>
				<li>Kjell Peersman</li>
				<li>Shurandy Sambo</li>
				<li>Jordan Teze</li>
				<li>Armando Obispo</li>
				<li>André Ramalho</li>
				<li>Mauro Júnior</li>
				<li>Olivier Boscagli</li>
				<li>Phillipp Mwene</li>
				<li>Fredrik Oppegard</li>
				<li>Patrick van Aanholt</li>
				<li>Ibrahim Sangaré</li>
				<li>Guus Til</li>
				<li>Joey Veerman</li>
				<li>Luuk de Jong</li>
				<li>Anwar El Ghazi</li>
				<li>Johan Bakayoko</li>
				<li>Ismael Saibari</li>
				<li>Yorbe Vertessen</li>
				<li>Ricardo Pepi</li>
				<li>Noa Lang</li>
			</ul>
		</div>
	</body>
</html>
