<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <h2 class="col-7">The Elmwood Therapy Centre | <img src="/assets/img/bercept.png" alt="bercept.com"></h2>
        <ul class="navbar-nav mr-auto top-navbar d-flex justify-content-end align-items-end">
          
          <li class="nav-item">
            <a class="nav-link" href="/logout">logout</a>
          </li>
          
        </ul>
</nav>